<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="navibar">
      
  <!-- NAVBAR -->
  <nav class="navbar expand-lg default-nav bg-primary">
    <div class="container">

      <!-- LOGO -->
      <div class="brand">
        <a href="/" th:href="@{/}"><img src="/images/flowershop.ico" ></a>
      </div>

      <!-- NAVBAR MENU-->
      <div class="menu-box bg-primary" id="mainNav">

        <!-- CLOSE BUTTON | MOBILE-->
        <div class="menu-close bg-primary"><i class="fa fa-close"></i></div>

        <!-- MENU -->
        <ul class="menu ml-auto">
          <li class="nav-item active"><a href="/" th:href="@{/}" class="nav-link bg-primary">Home</a></li>
          <li class="nav-item active"><a href="menu" th:href="@{/menu}" class="nav-link bg-primary">メニュー</a></li>
          <li class="nav-item active"><a href="saleslist" th:href="@{/saleslist}" class="nav-link bg-primary">販売業務</a></li>
          <li class="nav-item active"><a href="swagger-ui/index.html" class="nav-link bg-primary">API Docs</a></li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link">アカウント</a>
            <ul class="dropdown-menu">
              <li><a href="javascript:logout.submit()">ログアウト</a></li>
              <form th:action="@{/logout}" name="logout" method="POST"></form>
            </ul>
          </li>

          <li class="nav-item"><a href="about" th:href="@{/about}" class="nav-link">About</a></li>
        </ul>

      </div>

      <!-- TOGGLER | MOBILE -->
      <button class="toggler bg-secondary text-white " data-nav="#mainNav"><i class="fa fa-bars"></i></button>

    </div>
  </nav>

  </div>
</body>
</html>
